<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="ver-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <img src="https://image.flaticon.com/icons/svg/875/875014.svg" alt="" width="100px" height="100px" />
      </div>
      <div class="row">
        <button class="btn btn-success" on-click="incrementar" type="button" name="button">Cargar Datos</button>
        <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}">
        <input type="text" value="[[prop1]]">
      </div>

      <div class="row">
        <table class="table table-striped">
          <tbody>
            <template is="dom-repeat" items={{movimientos}}>
              <tr>
                <td>[[item.fecha]]</td>
                <td>[[item.nombre]]</td>
                <td>[[item.tipo]]</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VerMovimientos extends Polymer.Element {
      static get is() { return 'ver-movimientos'; }
      static get properties() {
        return {
          movimientos: {
            type: Array,
            notify: true
          }
        };
      }
      obtenerMovimientos(){
        var request = new XMLHttpRequest();
        request.open("GET","https://localhost:3008/Movimientos/Visualizar",false);
        request.setRequestHeader("Accept", "application/json");
        request.send();

        this.movimientos=JSON.parse(request.responseText);
        //console.log(this.clientes);
        console.table(this.movimientos);
      }
    }

    window.customElements.define(VerMovimientos.is, VerMovimientos);
  </script>
</dom-module>
